body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}


h1{
  text-align: center;
  align-items: center;
}
/* Adjust the logo size */
.logo img {
  width: 50%; /* Adjust logo width */
}

img 
{
    vertical-align: middle;
}
.navbar {
  background-color: #D4E6F1; /* Blue color */
  color: #065a8a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
}

.logo img {
  width: 100px; /* Adjust logo width as needed */
}

.menu-items {
  display: flex; /* Show the navigation links by default */
  list-style: none;
}

.menu-items li {
  margin-right: 20px; /* Adjust margin between menu items */
}

.menu-items li:last-child {
  margin-right: 0;
}

.menu-items li a {
  text-decoration: none;
  color: #065a8a;
  font-size: 1.4em;
  font-weight: bold;
}

.menu-items li a:hover {
  text-decoration: underline;
}

.menu-toggle {
  display: none; /* Hide the toggle button by default */
  width: 30px;
  height: 3px;
  background-color: #065a8a;
  cursor: pointer;
  position: relative;
}

.menu-toggle::before,
.menu-toggle::after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: #065a8a;
  position: absolute;
  top: 7px;
  cursor: pointer;
}

.menu-toggle::before {
  transform: translateY(-8px);
}

.menu-toggle::after {
  transform: translateY(8px);
}
/* Media Query for screens up to 576px */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: block; /* Show the toggle button on smaller screens */
  }
  .menu-items {
    display: none; /* Hide the navigation links by default on smaller screens */
    flex-direction: column; /* Stack links vertically */
    position: absolute;
    top: 60px; /* Position the dropdown below the header */
    right: 0;
    background: #D4E6F1;
    padding: 15px;
    z-index: 999;
    list-style: none; /* Remove bullet symbol */
    line-height: 35px;
  }
}

/* Media Query for screens between 577px and 768px */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .menu-toggle {
    display: block; /* Show the toggle button on smaller screens */
  }
  .menu-items {
    display: none; /* Hide the navigation links by default on smaller screens */
    flex-direction: column; /* Stack links vertically */
    position: absolute;
    top: 60px; /* Position the dropdown below the header */
    right: 0;
    background: #D4E6F1;
    padding: 15px;
    z-index: 999;
    list-style: none; /* Remove bullet symbol */
    line-height: 35px;
  }
}
.content {
    width: 90%; /* Adjust the width of the content area */
    margin: 0 auto; /* Center the content horizontally */
    padding: 10px 20px; /* Add padding on the top and bottom, and space on the left and right sides */
    text-align: justify;
    justify-content: center;
    align-items: center;
}


.image-container {
  max-width: 100%; /* Adjust max-width as needed */
  margin-bottom: 20px;
}

.image-container img {
  width: 100%; /* Ensure image takes up full width of container */
  animation: fadeInUp 1.5s ease forwards; /* Apply fadeInUp animation with specified duration */
    opacity: 0; /* Initially hide the image */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px); /* Apply a translateY transformation to move the image up */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Reset the translateY transformation */
    }
}

@media screen and (max-width: 768px) {

    .text h1
    {
        font-size: 28px;
    }
    .text p{
        font-size: 14px;
    }
}
.icon {
    font-size: 15px;
}

.to-top {
    background: #EDEFF0;
    position: fixed;
    bottom: 20px;
    right: 0;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 37px;
    color: #065a8a;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s, bottom 0.4s;
    cursor: pointer;
}

.to-top.active {
    bottom: 20px;
    opacity: 1;
    pointer-events: auto;
}

/* Footer styles */
#footer {
    background-color: #065a8a;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    padding: 0 20px;
    text-align: left; /* Align text left within each section */
}

.company-item {
    list-style-type: none; /* Remove default list style */
    padding: 0;
}

.company-item li {
    margin-bottom: 10px;
}

.company-item li a {
    color: #fff;
    text-decoration: none;
}

.company-item li a:hover {
    text-decoration: underline;
}

.footer-copyright {
    background-color: #d4e6f1;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding: 20px 0; /* Add space at the top and bottom */
}

.footer-copyright p {
    margin: 0;
}
.icon {
    font-size: 15px;
}

/* Media query for screens smaller than 576px */
@media screen and (max-width: 576px) {
  .footer-content {
    flex-wrap: wrap; /* Allow sections to wrap if needed */
  }

  .footer-section {
    flex: 1 0 100%; /* Each section occupies full width */
    padding: 15px; /* Adjust padding */
    text-align: left; /* Left-align text within each section */
  }

  .footer-section h2 {
    font-size: 16px; /* Adjust font size */
  }

  .footer-section p li {
    font-size: 8px; /* Adjust font size */
  }

  .footer-copyright {
    font-size: 11px; /* Adjust font size */
    width: 100%; /* Ensure full width */
  }
   .to-top {
        width: 80px;
        height: 80px;
        font-size: 25px;
    }
    .to-top.active {
    bottom: 40px;
    }
}

/* Media Query for screens between 577px and 992px */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .footer-content {
    flex-wrap: wrap; /* Allow sections to wrap if needed */
  }

  .footer-section {
    flex: 1 0 50%; /* Each section occupies half width */
    padding: 20px; /* Adjust padding */
    text-align: left; /* Left-align text within each section */
  }

  .footer-section h2 {
    font-size: 18px; /* Adjust font size */
  }

  .footer-section p li{
    font-size: 12px; /* Adjust font size */
  }

  .footer-copyright {
    font-size: 13px; /* Adjust font size */
    width: 100%; /* Ensure full width */
  }
   .to-top {
        width: 80px;
        height: 80px;
        font-size: 25px;
    }
    .to-top.active {
    bottom: 40px;
    }
}
